<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INSERT TITLE HERE</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
    <a class="navbar-brand" href="/">Sixxr</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
        </div>
        <form class="form-inline" th:action="@{/search}" th:method="get">
            <label>
                <!--/*@thymesVar id="searchString" type="java.lang.String"*/-->
                <input class="form-control" placeholder="Search" th:name="q" th:value="${searchString}" type="text"/>
            </label>
            <button class="btn btn-primary btn-outline-light">Search</button>
        </form>
        <div>
            <a class="nav-item btn btn-primary btn-outline-light" href="/login"
               sec:authorize="!isAuthenticated()">Login</a>
            <a class="nav-item btn btn-success btn-outline-light" href="/signup" sec:authorize="!isAuthenticated()">Sign
                up</a>
            <a class="nav-item btn btn-success btn-outline-light" href="/newOffer" sec:authorize="isAuthenticated()">New
                Offer</a>
            <a class="nav-item btn btn-success btn-outline-light" href="/orders" sec:authorize="isAuthenticated()">Your
                Orders</a>
            <a class="nav-item btn btn-success btn-outline-light" href="/tasks" sec:authorize="isAuthenticated()">Your
                Tasks</a>
            <a class="nav-item btn btn-secondary btn-outline-light" href="/profile" sec:authorize="isAuthenticated()">Profile</a>
            <a class="nav-item btn btn-secondary btn-outline-light" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
        </div>
    </div>
</nav>

<div class="container" th:fragment="notificationBar" th:if="${alerts!=null}">
    <!--/*@thymesVar id="alerts" type="org.flaxxy.sixrr.dto.AlertsDTO"*/-->
    <div class="alert alert-danger" role="alert" th:each="error : ${alerts.errors}" th:text="*{error}"></div>
    <div class="alert alert-success" th:each="notification : ${alerts.notifications}" th:text="*{notification}"
         role="alert"></div>
</div>

<div class="card" th:fragment="sellerCard">
    <!--/*@thymesVar id="seller" type="org.flaxxy.sixrr.entity.User"*/-->
    <div class="card-body d-flex flex-row">
        <a th:href="@{'/users/' + ${seller.username}}" th:text="${'Seller: ' + seller.username}"></a>
        <div class="ml-2">
            <span th:class="${'fa fa-star ' + (seller.sellerRating > 0 ? 'checked' : '')}"></span>
            <span th:class="${'fa fa-star ' + (seller.sellerRating > 1 ? 'checked' : '')}"></span>
            <span th:class="${'fa fa-star ' + (seller.sellerRating > 2 ? 'checked' : '')}"></span>
            <span th:class="${'fa fa-star ' + (seller.sellerRating > 3 ? 'checked' : '')}"></span>
            <span th:class="${'fa fa-star ' + (seller.sellerRating > 4 ? 'checked' : '')}"></span>
        </div>
    </div>
</div>

<div class="card m-2" th:fragment="offerCard">
    <!--/*@thymesVar id="offer" type="org.flaxxy.sixrr.entity.ServiceOffer"*/-->
    <div class="card-header">
        <h4 class="card-title">
            <a th:href="@{'/offers/' + ${offer.id}}" th:text="${offer.title}"></a>
        </h4>
        <div th:replace="~{fragments :: sellerCard(seller = ${offer.seller})}"></div>
    </div>
    <div class="card-body">
        <div th:text="${offer.shortDescription}"></div>
    </div>
</div>

<div class="card m-3" th:fragment="orderCard">
    <!--/*@thymesVar id="order" type="org.flaxxy.sixrr.entity.ServiceOrder"*/-->
    <div class="card-header">
        <h4 class="card-title">
            <a th:href="@{'/orders/' + ${order.id}}" th:text="${'Order of ' + order.offer.title}"></a>
        </h4>
    </div>
    <div class="card-body">
        <div th:replace="~{fragments :: sellerCard(seller = ${order.offer.seller})}"></div>
        <div class="card">
            <div class="card-body">
                <a th:href="@{'/users/' + ${order.buyer.username}}" th:text="${'Buyer: ' + order.buyer.username}"></a>
            </div>
        </div>
        <div th:text="${'Status: ' + order.status}"></div>
    </div>
</div>

<!-- Footer -->
<footer th:fragment="footer" class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!--        &lt;!&ndash; Grid row &ndash;&gt;-->
        <!--        <div class="row">-->

        <!--            &lt;!&ndash; Grid column &ndash;&gt;-->
        <!--            <div class="col-md-6 mt-md-0 mt-3">-->

        <!--                &lt;!&ndash; Content &ndash;&gt;-->
        <!--                <h5 class="text-uppercase">Footer Content</h5>-->
        <!--                <p>Here you can use rows and columns to organize your footer content.</p>-->

        <!--            </div>-->
        <!--            &lt;!&ndash; Grid column &ndash;&gt;-->

        <!--            <hr class="clearfix w-100 d-md-none pb-3">-->

        <!--            &lt;!&ndash; Grid column &ndash;&gt;-->
        <!--            <div class="col-md-3 mb-md-0 mb-3">-->

        <!--                &lt;!&ndash; Links &ndash;&gt;-->
        <!--                <h5 class="text-uppercase">Links</h5>-->

        <!--                <ul class="list-unstyled">-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 1</a>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 2</a>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 3</a>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 4</a>-->
        <!--                    </li>-->
        <!--                </ul>-->

        <!--            </div>-->
        <!--            &lt;!&ndash; Grid column &ndash;&gt;-->

        <!--            &lt;!&ndash; Grid column &ndash;&gt;-->
        <!--            <div class="col-md-3 mb-md-0 mb-3">-->

        <!--                &lt;!&ndash; Links &ndash;&gt;-->
        <!--                <h5 class="text-uppercase">Links</h5>-->

        <!--                <ul class="list-unstyled">-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 1</a>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 2</a>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 3</a>-->
        <!--                    </li>-->
        <!--                    <li>-->
        <!--                        <a href="#!">Link 4</a>-->
        <!--                    </li>-->
        <!--                </ul>-->

        <!--            </div>-->
        <!--            &lt;!&ndash; Grid column &ndash;&gt;-->

        <!--        </div>-->
        <!--        &lt;!&ndash; Grid row &ndash;&gt;-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://gitlab.com/FlaXxy/">FlaXxy</a>
    </div>
    <!-- Copyright -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>
</footer>
<!-- Footer -->

</body>
</html>