<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>SiXxr</title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments :: navbar}">Header</div>
<div class="container">
    <div th:replace="~{fragments :: notificationBar}">
    </div>
    <h1>SiXxr</h1>
    <p>Welcome to SiXxr!</p>
    <div class="container">
        <div th:each="offer : ${offers}">
            <div th:replace="~{fragments :: offerCard}"></div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>