<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="${'SiXxr - Order ' + offer.title}"></title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container">
    <div th:replace="~{fragments :: notificationBar}">
    </div>
    <h1 th:text="${'Your order of ' + offer.title + ' from ' + offer.seller.username}"></h1>
    <div th:replace="~{fragments :: offerCard}"></div>
    <p class="font-weight-bold"
       th:text="${'PRICE: ' + offer.price + '€ + ' + offer.invoiceUnit + ' * ' + offer.pricePerUnit + '€'}"></p>
    <form th:action="@{/orders}" th:method="post" th:object="${order}">
        <div class="form-group">
            <label for="requestDescription">Provide a description for the seller</label>
            <textarea class="form-control" id="requestDescription" rows="10"
                      th:field="*{requestDescription}"></textarea>
        </div>
        <div class="form-group">
            <label for="amount" th:text="${'How many ' + offer.invoiceUnit + '? (max ' + offer.maxUnits + ')'}"></label>
            <input class="form-control" id="amount" min="0" th:field="*{amount}" th:max="${offer.maxUnits}"
                   type="number">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('amount')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="paymentProvider" th:text="${'Which Payment provider'}"></label>
            <select class="form-control" id="paymentProvider" th:field="*{paymentMethodId}">
                <option th:each="paymentMethod : ${paymentMethods}" th:text="${paymentMethod.site}"
                        th:value="${paymentMethod.getId()}"></option>
            </select>
        </div>
        <h3 th:if="${!(#arrays.isEmpty(bambooOffers))}">You may also want to order these useful items in addition to the
            service:</h3>
        <p th:if="${!(#arrays.isEmpty(bambooOffers))}">This costs 6€ transportation fee.</p>
        <div class="form-group" th:each="bambooOffer : ${bambooOffers}">
            <div class="card m-3">
                <div class="card-header">
                    <div class="card-title" th:text="${bambooOffer.name}">
                    </div>
                    <input id="bambooOrders" th:field="*{bambooOrders}" th:value="${bambooOffer.id}" type="checkbox">
                </div>
                <div class="card-body">
                    <img class="img-thumbnail" th:src="${bambooOffer.imgBase64String}">
                    <p th:text="${bambooOffer.shortDescription}"></p>
                    <div class="font-weight-bold" th:text="${bambooOffer.netPrice + '€'}"></div>
                </div>
            </div>
        </div>
        <input th:field="*{offerId}" th:value="${offer.id}" type="hidden">
        <button class="btn btn-primary" type="submit">Submit Order</button>
    </form>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>