<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>SiXxr - New offer</title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container">
    <div th:replace="~{fragments :: notificationBar}">
    </div>
    <form th:action="@{/offers}" th:method="post" th:object="${offer}">
        <div class="form-group">
            <label for="title">What's the title of your offer:</label>
            <input class="form-control" id="title" th:field="*{title}" type="text">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('title')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="shortDescription">Provide a short description:</label>
            <textarea class="form-control" id="shortDescription" rows="10"
                      th:field="*{shortDescription}"></textarea>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('shortDescription')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="description">Provide a full description:</label>
            <textarea class="form-control" id="description" rows="10"
                      th:field="*{description}"></textarea>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('description')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="maxRevisions">How many revisions do you offer:</label>
            <input class="form-control" id="maxRevisions" min="1" th:field="*{maxRevisions}" type="number">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('maxRevisions')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <div class="form-group">
                <label for="price">What's the base price, you charge:</label>
                <input class="form-control" id="price" min="0" step="0.01" th:field="*{price}" type="number">
                <p class="alert alert-danger" th:each="error: ${#fields.errors('price')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="duration">What's the base duration, you need for the service:</label>
                <input class="form-control" id="duration" th:field="*{duration}" type="time">
                <p class="alert alert-danger" th:each="error: ${#fields.errors('duration')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="invoiceUnit">What variable units do you use:</label>
                <input class="form-control" id="invoiceUnit" list="suggestions" th:field="*{invoiceUnit}">
                <datalist id="suggestions">
                    <option value="Hours">
                    </option>
                    <option value="Minutes">
                    </option>
                    <option value="Lines">
                    </option>
                    <option value="Words">
                    </option>
                    <option value="Kilometers">
                    </option>
                </datalist>
                <p class="alert alert-danger" th:each="error: ${#fields.errors('invoiceUnit')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="maxUnits">What's the maximum units you can do:</label>
                <input class="form-control" id="maxUnits" min="0" th:field="*{maxUnits}" type="number">
                <p class="alert alert-danger" th:each="error: ${#fields.errors('maxUnits')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="durationPerUnit">How long do you need for one unit.</label>
                <input class="form-control" id="durationPerUnit" th:field="*{durationPerUnit}" type="time">
                <p class="alert alert-danger" th:each="error: ${#fields.errors('durationPerUnit')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="pricePerUnit">How much do you charge for one unit?</label>
                <input class="form-control" id="pricePerUnit" min="0" step="0.01" th:field="*{pricePerUnit}"
                       type="number">
                <p class="alert alert-danger" th:each="error: ${#fields.errors('pricePerUnit')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group">
                <label for="paymentProvider">Which Payment method should receive the money?</label>
                <select class="form-control" id="paymentProvider" th:field="*{paymentMethodId}">
                    <option th:each="paymentMethod : ${paymentMethods}" th:text="${paymentMethod.site}"
                            th:value="${paymentMethod.getId()}"></option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit Offer</button>
    </form>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>