<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="${'SixXr - ' + (offer == null ? 'Not found' : offer.title)}"></title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .checked {
            color: orange;
        }
    </style>

</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container">
    <div th:replace="~{fragments :: notificationBar}"></div>
    <div th:if="${offer == null}">
        <h4>This offer doesn't exist (anymore).</h4>
    </div>
    <div th:if="${offer != null}">
        <div>
            <div class="row m-1">
                <h1 class="col" th:text="${offer.title}"></h1>
                <form th:action="@{/newOrder}">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input hidden name="id" th:value="${offer.id}">
                    <button class="btn btn-primary btn-lg" type="submit">ORDER NOW!</button>
                </form>
            </div>
            <div th:replace="~{fragments :: sellerCard(seller = ${offer.seller})}"></div>
        </div>
        <div class="my-1" th:text="${'Description: ' + offer.description}"></div>

        <div class="my-1 border" th:text="${'Maximal ' + offer.maxUnits + ' ' + offer.invoiceUnit}"></div>
        <div class="my-1 border font-weight-bold"
             th:text="${'PRICE: ' + offer.price + '€ + ' + offer.invoiceUnit + ' * ' + offer.pricePerUnit + '€'}"></div>
        <div class="my-1 border"
             th:text="${'Time needed: ' + T(org.flaxxy.sixrr.converter.TimeFormatter).format(offer.duration) + ' + ' + offer.invoiceUnit + ' * ' + T(org.flaxxy.sixrr.converter.TimeFormatter).format(offer.durationPerUnit) + ''}"></div>
        <div class="my-1 border" th:text="${'Revisions: ' + offer.maxRevisions}"></div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>