<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="order" type="org.flaxxy.sixrr.entity.ServiceOrder"*/-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="${'Your Order of: ' + order.offer.title}"></title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container">
    <div th:replace="~{fragments :: notificationBar}">
    </div>
    <h1 th:text="${'Order of ' + order.offer.title}"></h1>
    <p>
        Seller: <a th:href="@{'/users/' + ${order.offer.seller.username}}" th:text="${order.offer.seller.username}"></a>
    </p>
    <p>
        Buyer: <a th:href="@{'/users/' + ${order.buyer.username}}" th:text="${order.buyer.username}"></a>
    </p>
    <p>
        Offer: <a th:href="@{'/offers/' + ${order.offer.id}}" th:text="${order.offer.title}"></a>, <span
            th:text="${order.amount + ' ' + order.offer.invoiceUnit}"></span>
    </p>
    <p th:text="${'Request Description: ' + order.requestDescription}">
    </p>
    <p th:text="${'Estimated time needed: ' + T(org.flaxxy.sixrr.converter.TimeFormatter).format(order.totalDuration)}">
    </p>
    <p th:text="${'Service price: ' + order.totalPrice}">
    </p>
    <p th:if="${order.bambooOrderInfo!=null && !order.bambooOrderInfo.equals('')}"
       th:text="${'Bamboo Info: ' + order.bambooOrderInfo}">
    </p>
    <p th:text="${'Status: ' + order.status}"></p>
    <div>
        <h2>Revisions (<span th:text="${revisions.size() + '/' + order.offer.maxRevisions}"></span>)</h2>
        <div th:if="${revisions.size()==0}">No Revisions yet</div>
        <div class="border" th:each="revision : ${revisions}">
            <div th:text="${'Submitted: ' + T(org.flaxxy.sixrr.converter.TimeFormatter).format(revision.finishTime)}"></div>
            <div th:text="${'Artifact: ' + revision.artifact}"></div>
            <div th:text="${'Comment: ' + revision.sellerComment}"></div>
        </div>
        <div th:if="${newRevisionDTO != null}">
            <form th:action="@{'/orders/' + ${order.id} + '/revisions'}" th:method="post"
                  th:object="${newRevisionDTO}">
                <div class="form-group m-3 border">
                    <label for="artifact">Artifact</label>
                    <input class="form-control" id="artifact" pattern=".*\S+.*" placeholder="artifact" required
                           th:field="*{artifact}">
                    <label for="sellerComment">Comment</label>
                    <textarea class="form-control" id="sellerComment" placeholder="comment" rows="10"
                              th:field="*{sellerComment}"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Provide Revision</button>
            </form>
        </div>
        <div th:if="${canAcceptRevision}">
            <form method="post" th:action="@{'/orders/' + ${order.id} + '/accept'}">
                <button class="btn btn-primary" type="submit">Accept Revision</button>
            </form>
            <form method="post" th:action="@{'/orders/' + ${order.id} + '/reject'}">
                <button class="btn btn-danger" type="submit">Reject Revision</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>