<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="${user.username}"></title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <a th:href="@{/profile}">User Data</a>
                </li>
                <li class="list-group-item">
                    <a th:href="@{/profile/paymentMethods}">Payment Methods</a>
                </li>
                <li class="list-group-item">
                    <a th:href="@{'/users/' + ${user.username}}">User Page</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div th:replace="~{fragments :: notificationBar}">
            </div>
            <div th:if="${showUserData}">
                <h2>Profile Details</h2>
                <form th:action="@{/profile}" th:method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}"
                               type="text">
                        <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input class="form-control" id="lastName" placeholder="Last name" th:field="*{lastName}"
                               type="text">
                        <p class="alert alert-danger" th:each="error: ${#fields.errors('lastName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" placeholder="Email" th:field="*{email}" type="email">
                        <p class="alert alert-danger" th:each="error: ${#fields.errors('email')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input class="form-control" id="username" placeholder="Username" th:field="*{username}"
                               type="text">
                        <p class="alert alert-danger" th:each="error: ${#fields.errors('username')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="sellerDescription">Promote Yourself:</label>
                        <textarea class="form-control" id="sellerDescription" placeholder="Seller Description"
                                  rows="5"
                                  th:field="*{sellerDescription}" type="text"></textarea>
                        <p class="alert alert-danger" th:each="error: ${#fields.errors('sellerDescription')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" id="password" placeholder="Password" th:field="*{password}"
                               type="password">
                        <p class="alert alert-danger" th:each="error: ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="passwordVerifiaction">Repeat Password</label>
                        <input class="form-control" id="passwordVerifiaction" placeholder="Password"
                               th:name="verification" type="password">
                        <p class="alert alert-danger" th:each="error: ${#fields.globalErrors()}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
            <div th:if="${showPaymentMethods}">
                <h2>Payment Methods</h2>
                <table class="table m-1">
                    <thead>
                    <tr>
                        <th scope="col">Site</th>
                        <th scope="col">Authentication</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paymentMethod : ${user.paymentMethods}">
                        <td th:text="${paymentMethod.site}"></td>
                        <td th:text="${paymentMethod.iban}"></td>
                        <td th:text="${paymentMethod.username}"></td>
                        <td>
                            <form th:action="@{/profile/deletePaymentMethod}" th:method="post">
                                <input name="paymentMethod" th:value="${paymentMethod.id}" type="hidden">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form th:action="@{/profile/paymentMethods}" th:method="post"
                      th:object="${newPaymentMethod}">
                    <div class="row">
                        <div class="col">
                            <label for="site">Site</label>
                            <select class="form-control" id="site" th:field="*{site}">
                                <option value="bogerpay">Boger Pay</option>
                                <option value="zea">Zea</option>
                                <option value="paying123">Paying123</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="iban">IBAN</label>
                            <input class="form-control" id="iban" placeholder="DEXXXXXXXXXXXXXXXXXXXX"
                                   th:field="*{iban}"
                                   type="text">
                            <p class="alert alert-danger" th:each="error: ${#fields.errors('iban')}"
                               th:text="${error}">Invalid IBAN</p>
                        </div>
                        <div class="col">
                            <label for="paymentUsername">Username</label>
                            <input class="form-control" id="paymentUsername" placeholder="username"
                                   th:field="*{username}"
                                   type="text">
                            <p class="alert alert-danger" th:each="error: ${#fields.errors('username')}"
                               th:text="${error}">Invalid Username</p>
                        </div>
                        <div class="col">
                            <label for="paymentPassword">Password</label>
                            <input class="form-control" id="paymentPassword"
                                   th:field="*{password}"
                                   type="password">
                            <p class="alert alert-danger" th:each="error: ${#fields.errors('password')}"
                               th:text="${error}">Invalid Password</p>
                        </div>
                        <div class="col">
                            <button class="col-3 btn btn-success">Add New</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>