<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>SiXxr search</title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container">
    <h4 th:text="${'Results for '''+ searchString + ''''}"></h4>
    <div th:each="offer : ${searchResult}" th:insert="~{fragments :: offerCard}"></div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>