<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>SiXxr Signup</title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container">
    <div th:replace="~{fragments :: notificationBar}">
    </div>
    <form th:action="@{/signup}" th:object="${user}" th:method="post">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}" type="text">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input class="form-control" id="lastName" placeholder="Last name" th:field="*{lastName}" type="text">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="email" placeholder="Email" th:field="*{email}" type="email">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" id="username" placeholder="Username" th:field="*{username}" type="text">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('username')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="password" placeholder="Password" th:field="*{password}" type="password">
            <p class="alert alert-danger" th:each="error: ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="passwordVerifiaction">Repeat Password</label>
            <input class="form-control" id="passwordVerifiaction" placeholder="Password"
                   th:name="verification" type="password">
            <p class="alert alert-danger" th:each="error: ${#fields.globalErrors()}"
               th:text="${error}">Validation error</p>
        </div>
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>