<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="${'User ' + user.username}"></title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col" th:if="${showEditLink}">
            <a th:href="@{/profile}">Edit Profile</a>
        </div>
        <div class="col-10">
            <div th:replace="~{fragments :: notificationBar}">
            </div>
            <h1 class="my-3" th:text="${'User ' + user.username}"></h1>
            <div class="my-1">
                <h4 class="card-title">About this User</h4>
                <a class="card-body" th:text="${user.sellerDescription}"></a>
            </div>
            <div class="my-1">
                <h2 class="mx-1">Offers</h2>
                <div th:each="offer : ${userOffers}" th:insert="~{fragments :: offerCard}"></div>
                <div th:if="${userOffers.isEmpty()}">No Offers yet</div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>